*{
    margin: 0;
    padding: 0;
}

@layer variables{
    :root{
        --primary-color: #FF6666;
        --secondary-color: #f9f871;
        --dark-color: #333;
        --light-color: #f4f4f4;

    }
}

@layer preloader{
    
    #preloader{
        background: var(--primary-color) url(/static/img/preloader-img.png) no-repeat center center;
        background-size: 15%;
        height: 100vh;
        width: 100%;
        position: fixed;
        z-index: 100;
        animation: pulse 0.5s infinite alternate;

    }

    @keyframes pulse {
        0% {
          transform: scale(1); /* Initial size */
        }
        100% {
          transform: scale(1.2); /* Increased size */
        }
      }

}
