{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>SnapMate </title>
    <link rel="stylesheet" href="{% static "css/styles.css" %}">
    <link rel="shortcut icon" href="{% static "img/favicon.ico" %}" type="image/x-icon">
</head>
<body>
    <div id="preloader">
        
    </div>
    <h1>Welcome to SnapMate! </h1>
    <p>Your customzied proposal for your parnter.</p>

    <script src="{% static 'js/script.js' %}"></script>
</body>
</html>